* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #000;
}

button {
  background-color: #7B1A75;
  position: relative;
  color: #fff;
  letter-spacing: 2px;
  overflow: hidden;
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  width: 200px;
  height: 100px;
  margin: 10px;
}

button:hover {
  cursor: pointer;
}

.circle {
  position: absolute;
  top: 27px;
  left: 80px;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}