* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: linear-gradient(#e1e1e1, #fff);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}

.main-img {
  width: 300;
  height: 200;
}

.info {
  padding: 1rem;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.profile-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.profile-info {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  color: #000;
  font-weight: bold;
}

p {
  font-size: 13px;
  color: grey;

}

.main-img, h3 {
  margin-bottom: 10px;
}